@import "tailwindcss";

@theme inline {
  --font-bangers: var(--font-bangers);
  --font-oswald: var(--font-oswald);
  --font-pirata: var(--font-pirata);

  --color-primary: #d04140;
  --color-secondary: #5d1518;
  --color-off-black: #140909;
  --color-white: #fbfaf5;
  --color-dark-main: #2b0b07;
  --color-dark-gray: #2e282a;
}

h1 {
  @apply font-bangers text-3xl lg:text-5xl 2xl:text-7xl font-bold leading-normal tracking-wide text-white;
}
h2 {
  @apply font-bangers text-2xl lg:text-4xl 2xl:text-6xl font-semibold leading-snug tracking-wide text-primary;
}
h3 {
  @apply font-bangers text-xl lg:text-3xl 2xl:text-5xl font-semibold leading-snug tracking-wide text-white;
}
h4 {
  @apply font-oswald text-lg lg:text-2xl 2xl:text-4xl font-medium leading-normal text-white;
}
p {
  @apply font-oswald font-light text-base lg:text-lg 2xl:text-xl leading-relaxed max-w-2xl text-white;
}

/* for reusable classes */
@layer components {
  .button {
    @apply my-4;
  }
}

/* for single purpose */
@layer utilities {
  .radial-gradient {
    @apply bg-radial from-secondary from-20% to-off-black;
  }
}
